*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Catamaran', sans-serif;
}
body{
    position: relative;
}
header{
    width: 100%;
    height: 100vh;
    background-image: url(quote.jpg);
    background-size: cover;
    background-position: 100%;
    background-position-y: 80%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    align-items: center;
    color: white;
}
header .head-content{
    width: 400px;
    height: 200px;
    padding: 30px;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 5px;
    position: relative;
}
header div:first-child h2{
    margin-bottom: 25px;
}
.author{
    position: absolute;
    right: 15px;
    bottom: 10px;
    font-style: italic;
    color: lightgrey;
    font-size: 20px;
    transition: .5s linear;
}
.quote{
    font-size: 20px;
    transition: .5s linear;
}
footer{
    color: lightgray;
    font-size: 25px;
    position: absolute;
    bottom: 5px;
    right: 10px;
}
form{
    display: flex;
    color: black;
    flex-direction: column;
    margin-top: 20px;
}
form input{
    padding: 10px;
    width: 230px;
    margin-bottom: 5px;
    background-color: rgba(0, 0, 0, .5);
    border: none;
    color: lightgray;
}
form input::placeholder{
    color: lightgray;
}
form button{
    background-color: rgba(0, 0, 0, .2);
    border: none;
    color: lightgray;
    padding: 10px 0px;
    cursor: pointer;
    border: 1px solid lightgray;
}
form input, form button{
    border-radius: 10px;
}

form button:hover{
    animation: slide 1s linear;
}
@keyframes slide {
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}
.form{
    width: 100%;
    height: 300px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    z-index: 1;
}
.form h1{
    color: rgb(0, 0, 0);
}
.btn{
    position: absolute;
    bottom: 100px;
    width: 100%;
    text-align: center;
}
.btn a{
    padding: 10px;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    color: lightgray;
    background-color: rgba(0, 0, 0, .6);
}
#page2{
    height: 100vh;
}
#page2 h2{
    padding-top: 30px;
    text-align: center;
}